:root {
    --cor-primaria: #005E32;
    --cor-secundaria: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

header {
    margin: auto;
    width: 90%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 25px;
    div:first-child {
        width: 150px;
        img {
            width: 100%;
        }
    }
}
#banner {
    margin: auto;
    width: 90%;
    display: flex;
    /* background-color: aqua; */
    
    img {
        padding: 25px;
        width: 100%;
        margin: auto;
    }
}
main {
    width: 90%;
    margin: auto;
    padding: 25px;
}
#total {
    background-color: rgba(17, 126, 70, 0.954);
    color: black;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
#busca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#evt {
    width: 25%;
}

#filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
}
#cards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 10px;
    
}
.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.card:hover {
    .card-image {
        transform: scale(1.05);
    }
}
.card-image {
    width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 210, 114, 0.858);
    width: 15%;
    height: 20%;
    text-align: center;
    color: white;
    padding: 5px 0 0px 0;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.2em;
    box-shadow: 1px 1px 5px white;
    #mes {
        font-size: 0.8em;
        background-color: rgba(17, 126, 70, 0.954);
        height: 45%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
#mapa {
    margin: auto;
    width: 100%;
    padding: 25px;
    iframe {
        width: 100%;
    }
}
#adress {
    float: right;
    margin: auto;
    width: calc(100% - 50px);
    background-color: #005E32;
    color: white;
    padding: 25px;
}
#copyright {
    text-align: center;
    margin: 25px;
}

@media screen and (max-width: 768px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
    #busca {
        
        justify-content: space-around;
    }
    #filtros {
        width: 40%;
    }
    #evt {
        width: 40%;
    }
    header, main, #banner, #mapa, #adress, #copyright {
        width: 100%;
    }
    evt-select {
        border: 2px solid black;
    }
    #mapa {
        padding: 25px 5px;
    }
}